In [12]:
import pandas as pd

w1 = pd.read_excel('LY Case Study Quantitative_11.11.24.xlsx',sheet_name='W-1')

w = pd.read_excel('LY Case Study Quantitative_11.11.24.xlsx',sheet_name='W')

In [13]:
country_columns_w1 = ['France', 'United Kingdom', 'USA (tax free)', 'Japan', 'Hong Kong', 'China',
                   'Korea', 'Korea DF', 'Hainan DF', 'United Arab Emirates', 'Australia', 
                   'Canada', 'Macao', 'Mexico', 'Saudi Arabia', 'Singapore', 'Thailand', 'Taiwan']

w1_unpivot = pd.melt(w1 , id_vars=['Brand' , 'Name' , 'Category', 'SKU', 'URL'],
value_vars=country_columns_w1,
var_name='Country', value_name='Price')

In [19]:
w1_unpivot.head()

,Brand,Name,Category,SKU,URL,Country,Price
0,Bottega Veneta,Pouch,NaN,576175VCPP01229,https://www.bottegaveneta.com/en-us/pouch-blac...,France,3200.0
1,Bottega Veneta,Sardine,NaN,716082VCPP11019,https://www.bottegaveneta.com/en-us/sardine-bl...,France,3500.0
2,Bottega Veneta,Padded Cassette,NaN,591970VCQR18425,https://www.bottegaveneta.com/en-us/padded-cas...,France,3600.0
3,Bottega Veneta,Medium Andiamo,NaN,743572VCPP12943,https://www.bottegaveneta.com/en-us/medium-and...,France,3900.0
4,Bottega Veneta,Chain Cassette,NaN,631421VBWZ08425,https://www.bottegaveneta.com/en-us/chain-cass...,France,4200.0

In [15]:
w.columns

Index(['Brand', 'Name', 'Category', 'SKU', 'France', 'United Kingdom',
       'USA (tax free)', 'Japan', 'Hong Kong', 'China', 'Korea', 'Korea DF',
       'Hainan DF', 'United Arab Emirates', 'Australia', 'Canada', 'Macao',
       'Mexico', 'Saudi Arabia', 'Singapore', 'Thailand', 'Taiwan'],
      dtype='object')

In [16]:
country_columns_w = ['France', 'United Kingdom', 'USA (tax free)', 'Japan', 'Hong Kong', 'China',
                   'Korea', 'Korea DF', 'Hainan DF', 'United Arab Emirates', 'Australia', 
                   'Canada', 'Macao', 'Mexico', 'Saudi Arabia', 'Singapore', 'Thailand', 'Taiwan']

w_unpivot = pd.melt(w , id_vars=['Brand' , 'Name' , 'Category', 'SKU'],
value_vars=country_columns_w,
var_name='Country', value_name='Price')

In [18]:
w_unpivot.head()

,Brand,Name,Category,SKU,Country,Price
0,Bottega Veneta,Mini Loop Camera Bag,NaN,680254V1G118425,France,1800.0
1,Bottega Veneta,Small Cassette,NaN,730848VMAY18425,France,2000.0
2,Bottega Veneta,Mini Pouch,NaN,585852VCPP18803,France,2200.0
3,Bottega Veneta,Mini Jodie,NaN,651876VCPP58803,France,2200.0
4,Bottega Veneta,Cassette,NaN,578004VMAY11229,France,2200.0

In [27]:
price_difff = w_unpivot.groupby('SKU')['Price'].agg('min','max')

In [28]:
price_difff.head(50)

SKU
000511/M53151              1510.0
000513/M40302              1830.0
000539/M53152              1380.0
006113/M40862              1470.0
007652/M40990              1450.0
007653/M40995              1410.0
009188/M21119              3200.0
010428/M57227              5650.0
012812/M42259              6150.0
10I513DPV.38NO              920.0
10I602DS1.04LU              730.0
10L033DPV.38NO             1500.0
110413BF4.38NO             2750.0
112583EZU.38NO             2300.0
187363BF4.38NO             2950.0
187373BEY.38NO             3400.0
188003BEY.38NO             2950.0
188423BF4.38NO             2750.0
189023TNI.38NO             1650.0
189103ZVA.38NO             2150.0
189143TNI.38NO             1850.0
189153ZVA.38NO             1950.0
189243DRU.38NO             1950.0
189793DRU.38NO             2400.0
193952BZJ.04LU             1250.0
197983BEY.38NO             2600.0
197993BF4.38NO             2250.0
1BA274_NZV_F0002_V_EOO     3600.0
1BA282_2ERX_F0002_V_MOE    3100.0
1BA354_2FKL_F0I0U_V_OOO    2500.0
1BA355_2FKL_F0J0A_V_OOM    1900.0
1BA356_2FKL_F0I0U_V_OOO    2700.0
1BA381_2DYI_F0002_V_OOM    1950.0
1BA863_NZV_F0002_V_EOO     3300.0
1BA896_NZV_F0002_V_EOO     3000.0
1BA906_2FKL_F0I0U_V_XOM    2800.0
1BC499_ZO6_F0002_V_OOO     2400.0
1BC543_2FKL_F0Y30_V_DOM    1900.0
1BD311_ZO6_F0002_V_OOO     2400.0
1BH188_ZO6_F0002_V_HOM     1980.0
1BH204_NZV_F0632_V_V2M     1950.0
1NE515_RDH0_F0002           920.0
213BA001-3000-990           475.0
213BA003-3000-990           765.0
213BA004-3000-990           630.0
213BA006-3000-990           535.0
221BA013-3060-990           765.0
364021BOW0J1000            1625.0
377828BOW011000            1255.0
37829902G9W1000            2400.0
Name: Price, dtype: float64

In [32]:
df_combined = pd.merge(w_unpivot , w1_unpivot , on=['SKU','Country'], how='outer')

In [33]:
df_combined

,Brand_x,Name_x,Category_x,SKU,Country,Price_x,Brand_y,Name_y,Category_y,URL,Price_y
0,Bottega Veneta,Mini Loop Camera Bag,NaN,680254V1G118425,France,1800.0,Bottega Veneta,Mini Loop Camera Bag,NaN,https://www.bottegaveneta.com/en-us/mini-loop-...,1800.0
1,Bottega Veneta,Small Cassette,NaN,730848VMAY18425,France,2000.0,Bottega Veneta,Small Cassette,NaN,https://www.bottegaveneta.com/en-us/small-cass...,2000.0
2,Bottega Veneta,Mini Pouch,NaN,585852VCPP18803,France,2200.0,Bottega Veneta,Mini Pouch,NaN,https://www.bottegaveneta.com/en-us/mini-pouch...,2200.0
3,Bottega Veneta,Mini Jodie,NaN,651876VCPP58803,France,2200.0,Bottega Veneta,Mini Jodie,NaN,https://www.bottegaveneta.com/en-us/mini-jodie...,2200.0
4,Bottega Veneta,Cassette,NaN,578004VMAY11229,France,2200.0,Bottega Veneta,Cassette,NaN,https://www.bottegaveneta.com/en-us/cassette-b...,2200.0
...,...,...,...,...,...,...,...,...,...,...,...
4837,NaN,NaN,NaN,nvprod2010013v/M44925,Thailand,NaN,Louis Vuitton,OnTheGo GM,NaN,https://us.louisvuitton.com/eng-us/products/on...,121000.0
4838,NaN,NaN,NaN,A923PL9X07-1100,Thailand,NaN,Loewe,LOEWE Luna bag in satin calfskin and jacquard,NaN,https://www.loewe.com/usa/en/women/bags/luna/l...,87700.0
4839,NaN,NaN,NaN,nvprod2130165v/M45320,Taiwan,NaN,Louis Vuitton,OnTheGo GM,NaN,https://us.louisvuitton.com/eng-us/products/on...,106000.0
4840,NaN,NaN,NaN,nvprod2010013v/M44925,Taiwan,NaN,Louis Vuitton,OnTheGo GM,NaN,https://us.louisvuitton.com/eng-us/products/on...,117000.0
4841,NaN,NaN,NaN,A923PL9X07-1100,Taiwan,NaN,Loewe,LOEWE Luna bag in satin calfskin and jacquard,NaN,https://www.loewe.com/usa/en/women/bags/luna/l...,86000.0

In [34]:
df = df_combined.drop(columns=['Category_x','Category_y','URL'])

df

,Brand_x,Name_x,SKU,Country,Price_x,Brand_y,Name_y,Price_y
0,Bottega Veneta,Mini Loop Camera Bag,680254V1G118425,France,1800.0,Bottega Veneta,Mini Loop Camera Bag,1800.0
1,Bottega Veneta,Small Cassette,730848VMAY18425,France,2000.0,Bottega Veneta,Small Cassette,2000.0
2,Bottega Veneta,Mini Pouch,585852VCPP18803,France,2200.0,Bottega Veneta,Mini Pouch,2200.0
3,Bottega Veneta,Mini Jodie,651876VCPP58803,France,2200.0,Bottega Veneta,Mini Jodie,2200.0
4,Bottega Veneta,Cassette,578004VMAY11229,France,2200.0,Bottega Veneta,Cassette,2200.0
...,...,...,...,...,...,...,...,...
4837,NaN,NaN,nvprod2010013v/M44925,Thailand,NaN,Louis Vuitton,OnTheGo GM,121000.0
4838,NaN,NaN,A923PL9X07-1100,Thailand,NaN,Loewe,LOEWE Luna bag in satin calfskin and jacquard,87700.0
4839,NaN,NaN,nvprod2130165v/M45320,Taiwan,NaN,Louis Vuitton,OnTheGo GM,106000.0
4840,NaN,NaN,nvprod2010013v/M44925,Taiwan,NaN,Louis Vuitton,OnTheGo GM,117000.0
4841,NaN,NaN,A923PL9X07-1100,Taiwan,NaN,Loewe,LOEWE Luna bag in satin calfskin and jacquard,86000.0

In [36]:
df.to_excel('processed_data.xlsx')

In [37]:
df_new = pd.read_excel('processed_data.xlsx')

In [38]:
df_new

,Unnamed: 0,Brand_x,Name_x,SKU,Country,Price_x,Brand_y,Name_y,Price_y
0,0,Bottega Veneta,Mini Loop Camera Bag,680254V1G118425,France,1800.0,Bottega Veneta,Mini Loop Camera Bag,1800.0
1,1,Bottega Veneta,Small Cassette,730848VMAY18425,France,2000.0,Bottega Veneta,Small Cassette,2000.0
2,2,Bottega Veneta,Mini Pouch,585852VCPP18803,France,2200.0,Bottega Veneta,Mini Pouch,2200.0
3,3,Bottega Veneta,Mini Jodie,651876VCPP58803,France,2200.0,Bottega Veneta,Mini Jodie,2200.0
4,4,Bottega Veneta,Cassette,578004VMAY11229,France,2200.0,Bottega Veneta,Cassette,2200.0
...,...,...,...,...,...,...,...,...,...
4837,4837,NaN,NaN,nvprod2010013v/M44925,Thailand,NaN,Louis Vuitton,OnTheGo GM,121000.0
4838,4838,NaN,NaN,A923PL9X07-1100,Thailand,NaN,Loewe,LOEWE Luna bag in satin calfskin and jacquard,87700.0
4839,4839,NaN,NaN,nvprod2130165v/M45320,Taiwan,NaN,Louis Vuitton,OnTheGo GM,106000.0
4840,4840,NaN,NaN,nvprod2010013v/M44925,Taiwan,NaN,Louis Vuitton,OnTheGo GM,117000.0
4841,4841,NaN,NaN,A923PL9X07-1100,Taiwan,NaN,Loewe,LOEWE Luna bag in satin calfskin and jacquard,86000.0

In [39]:
df_new.columns

Index(['Unnamed: 0', 'Brand_x', 'Name_x', 'SKU', 'Country', 'Price_x',
       'Brand_y', 'Name_y', 'Price_y'],
      dtype='object')

In [48]:
df_new['Price_Diff'] = df_new['Price_y']-df_new['Price_x']

df_new['Price Pct Change']= (df_new['Price_Diff']/df_new['Price_x'])*100

df_new.fillna(0,inplace=True)

df_new

,Unnamed: 0,Brand_x,Name_x,SKU,Country,Price_x,Brand_y,Name_y,Price_y,Price_Diff,Price Pct Change
0,0,Bottega Veneta,Mini Loop Camera Bag,680254V1G118425,France,1800.0,Bottega Veneta,Mini Loop Camera Bag,1800.0,0.0,0.0
1,1,Bottega Veneta,Small Cassette,730848VMAY18425,France,2000.0,Bottega Veneta,Small Cassette,2000.0,0.0,0.0
2,2,Bottega Veneta,Mini Pouch,585852VCPP18803,France,2200.0,Bottega Veneta,Mini Pouch,2200.0,0.0,0.0
3,3,Bottega Veneta,Mini Jodie,651876VCPP58803,France,2200.0,Bottega Veneta,Mini Jodie,2200.0,0.0,0.0
4,4,Bottega Veneta,Cassette,578004VMAY11229,France,2200.0,Bottega Veneta,Cassette,2200.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4837,4837,0,0,nvprod2010013v/M44925,Thailand,0.0,Louis Vuitton,OnTheGo GM,121000.0,0.0,0.0
4838,4838,0,0,A923PL9X07-1100,Thailand,0.0,Loewe,LOEWE Luna bag in satin calfskin and jacquard,87700.0,0.0,0.0
4839,4839,0,0,nvprod2130165v/M45320,Taiwan,0.0,Louis Vuitton,OnTheGo GM,106000.0,0.0,0.0
4840,4840,0,0,nvprod2010013v/M44925,Taiwan,0.0,Louis Vuitton,OnTheGo GM,117000.0,0.0,0.0
4841,4841,0,0,A923PL9X07-1100,Taiwan,0.0,Loewe,LOEWE Luna bag in satin calfskin and jacquard,86000.0,0.0,0.0

In [55]:
df_new.rename(columns={
    'Price_x':'Price_w',
              'Name_x':'Name_w',
              'Brand_x':'Brand_w',
              'Price_y':'Price_w1',
              'Name_y':'Name_w1',
              'Brand_y':'Brand_w1'
              },inplace=True)

df_new.head()

,Unnamed: 0,Brand_w,Name_w,SKU,Country,Price_w,Brand_w1,Name_w1,Price_w1,Price_Diff,Price Pct Change
0,0,Bottega Veneta,Mini Loop Camera Bag,680254V1G118425,France,1800.0,Bottega Veneta,Mini Loop Camera Bag,1800.0,0.0,0.0
1,1,Bottega Veneta,Small Cassette,730848VMAY18425,France,2000.0,Bottega Veneta,Small Cassette,2000.0,0.0,0.0
2,2,Bottega Veneta,Mini Pouch,585852VCPP18803,France,2200.0,Bottega Veneta,Mini Pouch,2200.0,0.0,0.0
3,3,Bottega Veneta,Mini Jodie,651876VCPP58803,France,2200.0,Bottega Veneta,Mini Jodie,2200.0,0.0,0.0
4,4,Bottega Veneta,Cassette,578004VMAY11229,France,2200.0,Bottega Veneta,Cassette,2200.0,0.0,0.0

In [56]:
df_processed = df_new

In [57]:
df_processed.to_excel('Processed_data.xlsx',index=False)

In [58]:
df_processed.dtypes

Unnamed: 0            int64
Brand_w              object
Name_w               object
SKU                  object
Country              object
Price_w             float64
Brand_w1             object
Name_w1              object
Price_w1            float64
Price_Diff          float64
Price Pct Change    float64
dtype: object

In [59]:
df_processed['Price_w'] = df_processed['Price_w'].fillna(0).astype(int)
df_processed['Price_w1'] = df_processed['Price_w1'].fillna(0).astype(int)
df_processed['Price_Diff'] = df_processed['Price_Diff'].fillna(0).astype(int)
df_processed['Price Pct Change'] = df_processed['Price Pct Change'].fillna(0).astype(int)

In [60]:
df_processed.dtypes

Unnamed: 0           int64
Brand_w             object
Name_w              object
SKU                 object
Country             object
Price_w              int64
Brand_w1            object
Name_w1             object
Price_w1             int64
Price_Diff           int64
Price Pct Change     int64
dtype: object

In [61]:
df_processedd= df_processed

In [62]:
df_processedd.dtypes

Unnamed: 0           int64
Brand_w             object
Name_w              object
SKU                 object
Country             object
Price_w              int64
Brand_w1            object
Name_w1             object
Price_w1             int64
Price_Diff           int64
Price Pct Change     int64
dtype: object

In [63]:
df_processedd.to_excel('Processed_data.xlsx',index=False)